@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.text-gradient {
  background: linear-gradient(90deg,
      rgba(31, 9, 227, 1) 0%,
      rgba(169, 87, 199, 1) 53%,
      rgba(237, 221, 83, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* Safari */
}

.bg-coverletter {
  @apply text-black/70;
  background: linear-gradient(145deg, #f3f4f6 0%, #e5e7eb 50%, #d1d5db 100%);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .text-gradient {
    background:linear-gradient(90deg,
  rgba(24, 16, 163, 1) 0%,
  rgba(120, 60, 160, 1) 53%,
  rgba(180, 170, 60, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* Safari */
  }

  .bg-coverletter {
    @apply text-white;
    background: linear-gradient(145deg, #374151 0%, #1f2937 50%, #111827 100%);

  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}




html,
body {
  overscroll-behavior: none;
  /* 오버스크롤 동작 비활성화 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

rt,
rp {
  @apply text-base py-2;
}

.panel-width {
  height: 100vh;
}

/* font-sizes */
.hero-title {
  @apply text-4xl sm:text-6xl md:text-7xl lg:text-9xl;
}

.hero-subtitle {
  @apply text-xl sm:text-2xl md:text-4xl lg:text-6xl;
}

.hero-subtitle>b {
  @apply text-3xl sm:text-4xl md:text-6xl lg:text-8xl;
}

.header_text {
  @apply text-xl md:text-2xl xl:text-xl 2xl:text-4xl;
}

.list-item-title {
  @apply 2xl:p-2 lg:p-1 md:p-0.5;
  @apply text-base md:text-[0.625rem] lg:text-[0.7rem] xl:text-base 2xl:text-2xl font-bold;
}

.list-item-description {
  @apply 2xl:p-3 lg:p-2 md:p-1;
  @apply text-sm md:text-[0.525rem] lg:text-[0.625rem] xl:text-sm 2xl:text-lg;
}


#textArea {
  width: 50%;
}


@media (width < 768px) {
  rt,
  rp {
    @apply text-[9px] py-1;
  }
}

.button-hover {
  @apply bg-sky-600 hover:bg-sky-500 dark:bg-slate-900 dark:hover:bg-slate-800;
}