@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 62.5%;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/* 
#intro_1 {
  font-size: clamp(4rem, 2rem + 10vw, 9rem);
}
#intro_2 {
  font-size: clamp(1.25rem, 1.5rem + 4vw, 4rem);
}
#intro_3 {
  font-size: clamp(1rem, 1.25rem + 2vw, 3rem);
} */

h1 {
  font-size: clamp(2rem, 2rem + 3vw, 8rem);
}

h2 {
  font-size: clamp(1.75rem, 1.75rem + 2vw, 4.5rem);
}

h3 {
  font-size: clamp(1rem, 1.5rem + 1vw, 2.5rem);
}
p {
  
  font-size: clamp(0.875rem, 0.8rem + 0.5vw, 1.125rem);
}

label {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
}
.text-gradient {
  background: linear-gradient(
    90deg,
      rgba(24, 16, 163, 1) 0%,
      rgba(120, 60, 160, 1) 33%,
      rgba(15, 234, 80, 0.614) 70%,
      rgb(87, 44, 128) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* Safari */
}

.bg-coverletter {
  @apply text-black/70;
  background: linear-gradient(145deg, #f3f4f6 0%, #e5e7eb 50%, #d1d5db 100%);
}

.mobile-bg-color {
  @apply text-white;
  background: #eeaeca;
  background: linear-gradient(
    72deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
li > p {
  @apply font-bold;
}

@media (prefers-color-scheme: dark) {

  .text-gradient {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 33%,
      rgba(255, 255, 255, 0.614) 70%,
      rgb(255, 255, 255) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* Safari */
  }

  .bg-coverletter {
    @apply text-white;
    background: linear-gradient(145deg, #374151 0%, #1f2937 50%, #111827 100%);
  }
  .mobile-bg-color {
    background: #0d0707;
    background: linear-gradient(
      72deg,
      rgba(13, 7, 7, 1) 0%,
      rgba(33, 42, 82, 1) 59%,
      rgba(113, 133, 138, 1) 90%,

    );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

html,
body {
  overscroll-behavior: none;
  /* 오버스크롤 동작 비활성화 */
}

body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}
/* 
rt,
rp {
  @apply text-base py-2;
} */

.panel-width {
  height: 100vh;
}

#textArea {
  width: 50%;
}

.grid-layout {
  @apply grid grid-cols-[repeat(4,minmax(120px,240px))] grid-rows-[repeat(2,minmax(120px,240px))]  gap-4;
}
@media (width < 1280px){
  .grid-layout {
  @apply grid grid-cols-[repeat(3,minmax(240px,1fr))] grid-rows-[repeat(4,minmax(240px,1fr))]  gap-4;
}
}

@media (width < 768px) {
  rt,
  rp {
    @apply text-[9px] py-1;
  }

  .grid-layout {
    @apply grid grid-cols-[repeat(3,minmax(80px,1fr))] grid-rows-[repeat(4,minmax(80px,1fr))]  gap-2;
  }
}

.button-hover {
  @apply bg-sky-600 hover:bg-sky-500 dark:bg-slate-900 dark:hover:bg-slate-800 px-3 py-1;
}

.button-text {
  @apply text-[clamp(0.525rem,1vw+0.9rem,1.125rem)];
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}